{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Real Analysis</h2>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Morteza Esmaeili- 1401</p>
            <p>By: Jeyran Azizi</p>
            <p class="card-text">فصل اول</p>
            <a href="/Downloads/Real Analysis. Section 1'. J.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل دوم و سوم</p>
            <a href="/Downloads/RA Section. S 2&3.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل چهارم</p>
            <a href="/Downloads/RA Section. S 4.pdf J.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل پنجم</p>
            <a href="/Downloads/RA Section. S 5.pdf J.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">ادامه فصل پنجم</p>
            <a href="/Downloads/RA Section''. 24Khordad. (S5).pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


{% endblock content %}	