{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Random Processes</h2>


    <div class="card mb-4">
        <!-- img src="{% static 'images/coding.jpg' %}" alt="Coding pic" -->
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Bardia Panahbehagh- Midterm- 1401</p>
            <p>By: Jeyran Azizi</p>
            <a href="/Downloads/Random Processes. Midterm.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Source</h5>
            <p class="card-text">فرآیندهای تصادفی- دکتر پاشا</p>
            <a href="/Downloads/RP-Dr Pasha.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


{% endblock content %}	